{{define "footer"}}
    <p class="footer">
      by <a href="https://arpx.space">Arpx</a> | <a href="https://github.com/amirrezapanahi/fsharpbyexample">source</a>
      | <a href="https://github.com/amirrezapanahi/fsharpbyexample">license</a>
    </p>
{{end}}
