{{define "footer"}}
    <p class="footer">
      by <a href="https://compositional-it.com">Compositional IT</a> | <a href="https://github.com/CompositionalIT">source</a> | <a href="https://github.com/CompositionalIT">license</a>
    </p>
{{end}}
